<!DOCTYPE html>
<html>
    <head>
        {% block head %}
		<title>{% block title %}{% endblock %} - Triz</title>
		<meta charset="UTF-8">
		<link rel="shortcut icon" type="image/png" href="{{ static }}/img/favicon.png" sizes="16x16">
		<link rel="stylesheet" type="text/css" href="{{ static }}/css/reset.css">
		<link rel="stylesheet" type="text/css" href="{{ static }}/css/semantic.min.css">					
        {% endblock %}
    </head>
    <body>
		<header>
			{% block header %}
			<h1><a href="/" title="Ir à página inicial do Triz">Triz</a></h1>
			{% endblock %}
		</header>
        <main>
			{% block main %}{% endblock %}		
		</main>
        <footer>
            {% block footer %}
            &copy; Copyright 2016 - Triz
            {% endblock %}
        </footer>
		<script src="{{ static }}/js/semantic.min.js"></script>
    </body>
</html>