{% set ss = app.session.get('conta_usuario') %}
{#{{ dump(ss) }}#}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
		<title>{% block title %}{% endblock %} - Triz</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="{{ static }}/img/favicon.png" sizes="16x16">
		<link rel="stylesheet" type="text/css" href="{{ static }}/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="{{ static }}/css/bootstrap.min.css">	
		<link rel="stylesheet" type="text/css" href="{{ static }}/css/triz.css">
        {% endblock %}
    </head>
    <body class="fixed-body" style="background-color:white">	
		{% block body %} 
		{% include "inc/bar_principal.html" %}


<div class="container-fluid rose">
	<div class="row">
		<div class="col-lg-12">
			<h3>{{p.titulo}}</h3>			
		</div>	
	</div>
	
	

	
	<div class="row">
		<div class="col-lg-12 text-center">
			
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false" style="float:none;margin:0px;">
        <span class="sr-only">Toggle navigation</span><strong style="font-size:22px">...</strong>
      </button> 	
		</div>
		
	</div>
	
</div>

  <div class="container-fluid">
    
    

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2" >
      <ul class="nav navbar-nav">
        <li><a href="/projeto/{{p.dominio}}">Geral</a></li>
        <li><a href="/projeto/{{p.dominio}}/membros">Membros</a></li>
		<li><a href="/projeto/{{p.dominio}}/backlog">Backlog</a></li>		
		<li><a href="/projeto/{{p.dominio}}/sprints">Sprints</a></li>
		<li><a href="/projeto/{{p.dominio}}/releases">Releases</a></li>   
        <li><a href="/projeto/{{p.dominio}}/quadro">Quadro</a></li>
		<li><a href="/projeto/{{p.dominio}}/relatorios">Relatórios</a></li> 
		<li><a href="/projeto/{{p.dominio}}/configuracoes">Configurações</a></li> 
		
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->  


		<div class="container">	
			
			<div class="row">		
				<div class="col-lg-12">				
				<main>
					{% block main %}{% endblock %}		
				</main>
				<footer>				
					<p class="copyright text-muted text-center small">&copy {{ "now"|date("Y") }} Triz MPS. Todos os direitos reservados.</p>			
				</footer>
				</div>
			</div>
		</div>
		{% endblock %}
		<script src="{{ static }}/js/jquery.min.js"></script>
		<script src="{{ static }}/js/bootstrap.min.js"></script>
		<script src="{{ static }}/js/triz.js"></script>
    </body>
</html>