{% set ss = app.session.get('conta_usuario') %}
{#{{ dump(ss) }}#}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
		<title>{% block title %}{% endblock %} - Triz</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="{{ static }}/img/favicon.png" sizes="16x16">
		<link rel="stylesheet" type="text/css" href="{{ static }}/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="{{ static }}/css/bootstrap.min.css">	
		<link rel="stylesheet" type="text/css" href="{{ static }}/css/triz.css">
        {% endblock %}
    </head>
    <body class="fixed-body" style="background-color:white">	
		{% block body %} 
		<nav class="navbar navbar-default navbar-fixed-top" style="background-color:white">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand"><img class="logo" alt="Triz" src="{{ static }}/img/marca/logo_256.png" height="20" width="20"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Mural</a></li>        
		<li><a href="/perfil">Perfil</a></li>        
			
	
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        
		<li class="dropdown">		
		<a class="dropdown-toggle" data-toggle="dropdown" href="#" style="height:50px;">	
			<!--<span class="img-circle" style="background:#fdcc52 url({{ducs}}/usuario/perfil/{{ss.imagem}}.{{ss.ext_imagem}});background-position:center;background-repeat:no-repeat;background-size:auto 24px;height:24px;width:24px;display:inline-block"></span>-->
			<strong>{{ ss.nome }}</strong>		
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu dropdown-user">			
			<li class="dropdown-header">Ajustes</li>
			<li><a href="/perfil/editar">Perfil</a></li>
			<li><a href="/conta">Conta</a></li>
			<li class="dropdown-header">Segurança</li>
			<li><a href="/perfil">Senha</a></li>
			<li><a href="/conta/acesso">Acessos</a></li>
			<li class="divider"></li>
			<li><a href="/sair">Sair do Triz</a></li>
		</ul>		
	</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->  
 
</nav>


<div class="container-fluid rose">
	<div class="row">
		<div class="col-lg-12">
			<h3>{{p.titulo}}</h3>
			
	</div>
	
	</div>
	
</div>


  <div class="container-fluid">
    
    
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span><strong>Opções</strong>
      </button> 
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2" >
      <ul class="nav navbar-nav">
        <li><a href="/projeto/{{p.dominio}}/geral">Geral</a></li>
        <li><a href="/projeto/{{p.dominio}}/membros">Membros</a></li>
		<li><a href="/projeto/{{p.dominio}}/backlog">Backlog</a></li>   
		<li><a href="/projeto/{{p.dominio}}/releases">Releases</a></li>   
		<li><a href="/projeto/{{p.dominio}}/sprints">Sprints</a></li>
        <li><a href="/projeto/{{p.dominio}}/quadro">Quadro</a></li>		
		<li><a href="/projeto/{{p.dominio}}/relatorios">Relatórios</a></li> 
		<li style="background-color:#fcf8ee"><a href="/projeto/{{p.dominio}}/configuracoes">Configurações</a></li> 
		
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->  


		<div class="container">	
			
			<div class="row">		
				<div class="col-lg-12">				
				<main>
					{% block main %}{% endblock %}		
				</main>
				<footer>				
					<p class="copyright text-muted text-center small">&copy {{ "now"|date("Y") }} Triz MPS. Todos os direitos reservados.</p>			
				</footer>
				</div>
			</div>
		</div>
		{% endblock %}
		<script src="{{ static }}/js/jquery.min.js"></script>
		<script src="{{ static }}/js/bootstrap.min.js"></script>
		<script src="{{ static }}/js/triz.js"></script>
    </body>
</html>