<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% block head %}
		<title>{% block title %}{% endblock %} - Triz</title>		
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/png" href="{{ static }}/img/favicon.png" sizes="16x16">
		<link rel="stylesheet" type="text/css" href="{{ static }}/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="{{ static }}/css/bootstrap.min.css">	
		<link rel="stylesheet" type="text/css" href="{{ static }}/css/triz.css">		
        {% endblock %}
    </head>
    <body>
		{% block body %}
		<header>
			{% block header %}					
			{% endblock %}
		</header>
        <main>
			{% block main %}{% endblock %}		
		</main>
        <footer>
            {% block footer %}
            <p class="copyright text-muted small">&copy {{ "now"|date("Y") }} Triz MPS. Todos os direitos reservados.</p>
            {% endblock %}
        </footer>
		{% endblock %}
		<script src="{{ static }}/js/jquery.min.js"></script>
		<script src="{{ static }}/js/bootstrap.min.js"></script>
		<script src="{{ static }}/js/triz.js"></script>
    </body>
</html>