{% extends "inc/base_perfil.html" %}

{% block title %}Atualizar Perfil{% endblock %}
{% block titleheader %}{% endblock %}

{% block head %}
{{parent()}}
{% if cor1 is not defined %}
	{% set cor1 = '#7b4397' %}
	{% set cor2 = '#dc2430' %}
{% endif %}
<style type="text/css">
	body {
		background:url({{static}}/img/bg-pattern.png),{{cor2}};background:url({{static}}/img/bg-pattern.png),-webkit-linear-gradient(to left,{{cor2}},{{cor1}});
		background:url({{static}}/img/bg-pattern.png),linear-gradient(to left,{{cor2}},{{cor1}});
	}
</style>
{% endblock %}

{% block main %}
<div class="container">	
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-none">	
				<div class="panel-heading text-center">		
					{% if imagem is not defined %}
						{% set imagem = 'usuario_preto' %}
						{% set ext_imagem = 'png' %}
					{% endif %}
					<div class="img-circle" style="background-color:#feeab9; background-image: url({{ducs}}/usuario/perfil/{{ imagem }}.{{ ext_imagem }}), url({{static}}/img/usuario_128.png);background-position:center;background-repeat:no-repeat;background-size:auto 128px;height:128px;width:128px;display:inline-block"></div>
					<h1>{{ nome|upper }} {{ sobrenome|upper }}</h1>									
				</div>
				<div class="panel-body">
					<form action="/perfil/editar" method="POST" enctype="multipart/form-data">						
						<div class="form-group">
							<label for="imagem">Imagem de perfil</label>
							<input type="file" name="imagem" accept="image/png, image/jpeg, image/jpg" class="form-control btn btn-none" >							
						</div>  
						<div class="form-group">
							<label for="ocupacao">Ocupação</label>
								{% if ocupacao is not defined %}
									{% set ocupacao = '' %}						
								{% endif %}	
								<input type="text" name="ocupacao" value="{{ocupacao}}" placeholder="Ocupação" class="form-control">
						</div>
						<div class="form-group">
							<label for="biografia">Biografia <span class="text-muted">(255 caracteres)</span></label>
							{% if biografia is not defined %}
								{% set biografia = '' %}						
							{% endif %}	
							<textarea name="biografia" rows="3" placeholder="Fale um pouco sobre você..." class="form-control" >{{biografia}}</textarea>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-lg-6">
							<label for="cor1">Cor #1</label>
							<input type="color" name="cor1" value="{{cor1}}" class="form-control">
							</div>
							<div class="col-lg-6">
							<label for="cor2">Cor #2</label>
							<input type="color" name="cor2" value="{{cor2}}" class="form-control">
							</div>
							</div>
						</div>
						<div class="form-group text-right">
							<a href="/perfil" target="_blank" class="btn btn-default">Visualizar</a>
							<input type="submit" value="Atualizar perfil" class="btn btn-primary">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}{% endblock %}