{% extends "inc/base_usuario.html" %}

{% block title %}Criar novo projeto{% endblock %}
{% block titleheader %}

<h1 style="display:inline;margin-right:20px">Projetos</h1>
<a href="criar" class="btn black"><img src="{{ static }}/img/adicionar_64.png" height="20" width="20"> Criar novo</a>
<!--<a href="criar" class="btn black"><img src="{{ static }}/img/pesquisar_64.png" height="20" width="20"> Pesquisar outros projetos</a>-->

{% endblock %}


{% block main %}

<div class="row">	
	<div class="col-lg-6">
		<h3>Criar novo projeto</h3>
		<form method="POST" action="criar">

			<div class="form-group">			
				<label for="titulo">Título *</label>				
				<input type="text" name="titulo" id="titulo" value="{% if post.titulo is defined %}{{post.titulo}}{% endif %}" required class="form-control">
			</div>
			
			<div class="form-group">
				<label for="resumo">Resumo *</label>				
				<textarea name="resumo" rows="2" required class="form-control">{% if post.resumo is defined %}{{post.resumo}}{% endif %}</textarea>
			</div>
		
			<div class="form-group">
				<label for="descricao">Descrição</label>				
				<textarea name="descricao" rows="4" class="form-control">{% if post.descricao is defined %}{{post.descricao}}{% endif %}</textarea>
			</div>
			
			<div class="row">
				<div class="col-lg-6">
					<div class="form-group {% if erro is defined %}has-error{% endif %}">			
						<label for="dominio" class="control-label">Domínio * <span class="text-muted">16 caracteres e traço</span></label>				
						<input type="text" name="dominio" id="dominio" value="{% if post.dominio is defined %}{{post.dominio}}{% endif %}" maxlength="16" pattern="[A-Za-z0-9-]{5,16}" required class="form-control">
					</div>
				</div>
				<div class="col-lg-6">
					<div class="form-group">			
						<label for="visibilidade">Visibilidade</label>				
						<select name="visibilidade" id="visibilidade" class="form-control">
							<option value="1">Privado</option>
							<option value="2">Público</option>			
						</select>
					</div>	
				</div>
			</div>
		
			<div class="form-group text-right">
				<input type="submit" id="criar" value="Criar projeto" class="btn rose" class="form-control">
			</div>
	</div>
</div>
{% endblock %}