{% extends "inc/base_usuario.html" %}

{% block title %}Senha da Conta{% endblock %}
{% block titleheader %}<h1>Senha da Conta</h1>{% endblock %}

{% block main %}
<div class="row">
	<div class="col-lg-4">
		{% if msg is not empty %}
		<div class="alert alert-{%if tipo is defined%}{{tipo}}{%endif%}" role="alert">{{msg.0}}</div>
		{% endif %}
		<form action="/conta/senha" method="POST">
			<div class="form-group">
				<label for="atual">Senha atual</label>
				<input type="password" id="atual" name="atual" class="form-control" required>
			</div>
			<div class="form-group">
				<label for="nova">Senha nova</label>
				<input type="password" id="nova" name="nova" class="form-control" required>
			</div>
			<div class="form-group">
				<label for="confirma">Repetir senha nova</label>
				<input type="password" id="confirma" name="confirma" class="form-control" required> 
			</div>
			<div class="form-group text-right">
				<input type="submit" id="btn" name="btn" value="Alterar senha" class="btn btn-primary">
			</div>
		</form>
	</div>
	<div class="col-lg-8">

	</div>
</div>
{% endblock %}