{% extends "inc/base_projeto.html" %}

{% block title %}Quadro{% endblock %}
{% block titleheader %}

{% endblock %}


{% block main %}
<div class="alert alert-danger" role="alert"><strong>O quadro Triz ainda está em desenvolvimento!</strong> Em breve mais informações!</div>
<div class="row" style="margin-top:20px;">	
	<div class="col-lg-4">	
		<p class="bg-primary" style="padding:10px"><strong>Para fazer</strong></p>
		<div class="panel panel-default">		  
		  <div class="panel-body">
			<p class="lead bg-warning">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia semper bibendum. Nulla in enim et eros sollicitudin commodo. Nunc cursus sollicitudin mauris ut venenatis. </p>
			<p>Complexidade: <span class="badge">XX</span> | Estimativa : <span class="badge">XX</span></p>
		  </div>
		</div>
		<div class="panel panel-default">		  
		  <div class="panel-body">
			<p class="lead bg-warning">Phasellus euismod justo congue sem posuere, id ultrices ipsum faucibus. Donec in urna diam. Aliquam nec sem sed felis finibus iaculis et a massa.</p>
			<p>Complexidade: <span class="badge">XX</span> | Estimativa : <span class="badge">XX</span></p>
		  </div>
		</div>
		<div class="panel panel-default">		  
		  <div class="panel-body">
			<p class="lead bg-warning">Duis elementum fringilla nisl, ac porta lectus varius a. In ultricies laoreet neque, at tristique diam lacinia in. Donec placerat gravida auctor.</p>
			<p>Complexidade: <span class="badge">XX</span> | Estimativa : <span class="badge">XX</span></p>
		  </div>
		</div>
	</div>	
	<div class="col-lg-4">	
		<p class="bg-primary" style="padding:10px"><strong>Fazendo</strong></p>
		<div class="panel panel-default">		  
		  <div class="panel-body">
			<p class="lead bg-info">Phasellus euismod justo congue sem posuere, id ultrices ipsum faucibus. Donec in urna diam. Aliquam nec sem sed felis finibus iaculis et a massa.</p>
			<p>Complexidade: <span class="badge">XX</span> | Estimativa : <span class="badge">XX</span></p>
		  </div>
		</div>
		<div class="panel panel-default">		  
		  <div class="panel-body">
			<p class="lead bg-info">Duis elementum fringilla nisl, ac porta lectus varius a. In ultricies laoreet neque, at tristique diam lacinia in. Donec placerat gravida auctor.</p>
			<p>Complexidade: <span class="badge">XX</span> | Estimativa : <span class="badge">XX</span></p>
		  </div>
		</div>
	</div>	
	<div class="col-lg-4">	
		<p class="bg-primary" style="padding:10px"><strong>Feito</strong></p>
		<div class="panel panel-default">		  
		  <div class="panel-body">
			<p class="lead bg-success">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia semper bibendum. Nulla in enim et eros sollicitudin commodo. Nunc cursus sollicitudin mauris ut venenatis. </p>
			<p>Complexidade: <span class="badge">XX</span> | Estimativa : <span class="badge">XX</span></p>
		  </div>
		</div>
		<div class="panel panel-default">		  
		  <div class="panel-body">
			<p class="lead bg-success">Phasellus euismod justo congue sem posuere, id ultrices ipsum faucibus. Donec in urna diam. Aliquam nec sem sed felis finibus iaculis et a massa.</p>
			<p>Complexidade: <span class="badge">XX</span> | Estimativa : <span class="badge">XX</span></p>
		  </div>
		</div>
	</div>	
</div>
{% endblock %}