{% extends "inc/base_projeto.html" %}

{% block title %}Membros{% endblock %}
{% block titleheader %}

{% endblock %}

{% block main %}
<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<h4><strong>Sprints</strong></h4>
		</div>
	</div>
</div>
<div class="row">	
	<div class="col-lg-12">	
		<ol class="breadcrumb">
		  <li><a href="">Sprints</a></li>		  
		  <li class="active">Visualização da Sprint {{sprint}}</li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">	
	
		
			{%for h in hsprint%}
		<div class="list-group">
		<a href="/projeto/{{p.dominio}}/backlog/historia/{{h.id_historia}}" class="list-group-item">
		
			<p><small class="text-muted">Por {{h.nome}} em {{h.ts_criacao|date("d/m/Y \\à\\s H:i")}}</small></p>
			<p class="lead">{{h.descricao}}</p>	
			<p><!--<a href="/projeto/p.dominio/backlog" class="btn btn-info btn-xs active">Em andamento</a> | -->Complexidade: <span class="badge">{{h.complexidade}}</span> | Estimativa : <span class="badge">{{h.estimativa}}</span></p>
		 
		</a>
		</div>
		{%endfor%}
	
</div>

{% endblock %}