{% extends "inc/base_projeto.html" %}

{% block title %}Projetos{% endblock %}
{% block titleheader %}

<h1 style="display:inline;margin-right:20px">Projetos</h1>
<a href="/projeto/criar" class="btn black"><img src="{{ static }}/img/adicionar_64.png" height="20px" width="20px"> Criar novo</a>
<a href="criar" class="btn black"><img src="{{ static }}/img/pesquisar_64.png" height="20px" width="20px"> Pesquisar outros projetos</a>

{% endblock %}


{% block main %}
<div class="row">
	<div class="col-lg-2">
		<h3>Configurações</h3>
	</div>
</div>
<div class="row">
	<div class="col-lg-2">
		<ul class="nav nav-pills nav-stacked">
		  <li role="presentation"><a href="#">Visibilidade</a></li>
		  <li role="presentation"><a href="#">Cancelamento</a></li>
		  <li role="presentation"><a href="#">Desativação</a></li>
		</ul>
	</div>
	<div class="col-lg-10">
		<h4>Cancelamento</h4>
		<p>O projeto falhou?</p>
		<button type="button" class="btn btn-danger active">Cancelar o projeto permanentemente</button>
	</div>
	<!--<div class="col-lg-10">
		<div class="list-group">
		  <a href="/projeto/{{p.dominio}}/visibilidade/editar/privado" class="list-group-item list-group-item-success active">
			<p><img src="{{ static }}/img/privado_64.png" height="64px" width="64px"></p>
			<h4 class="list-group-item-heading">Privado</h4>
			<p class="list-group-item-text">Somente os membros podem acessar ao projeto</p>
		  </a>
		  <a href="/projeto/{{p.dominio}}/visibilidade/editar/publico" class="list-group-item">
			<p><img src="{{ static }}/img/publico_64.png" height="64px" width="64px"></p>
			<h4 class="list-group-item-heading">Público</h4>
			<p class="list-group-item-text">Demais usuários podem acessar a página pública do projeto</p>
		  </a>
		</div>
	</div>-->
</div>
{% endblock %}