{% extends "inc/base_simples.html" %}

{% block title %}Ativação de Conta{% endblock %}
{% block titleheader %}Ativação de Conta{% endblock %}

{% block main %}
	
	{% if msgs is defined %}
		<div class="alert alert-success" role="alert">
		{% for msg in msgs %}
			{{ msg }} <a href="/entrar" class="alert-link">Entrar no Triz</a>
		{% endfor %}
		</div>
	{% endif %}

	{% if not msgs is defined %}
	<h2>Você precisa ativar sua conta para prosseguir!</h2>
	<h3>Siga as instruções enviadas para seu e-mail</h3>
	<h3><a href="ativacao/reenviar">Reenviar e-mail de confirmação</a></h3>
	{% endif %}

{% endblock %}