{% extends "inc/base_projeto.html" %}

{% block title %}Membros{% endblock %}
{% block titleheader %}

{% endblock %}

{% block main %}
<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<h4><strong>Membros</strong></h4>
		</div>
	</div>
</div>
<div class="row">	
	<div class="col-lg-6">	
		<div>
			<strong>Time {{m.nome}} <a href="/projeto/{{p.dominio}}/membros/time/{{m.id_time}}">Editar</a></strong>
		</div>
		<div class="panel panel-default">		  
		  <div class="panel-body" style="background-color:#fbfbfb">
			<div class="row">	
				<div class="col-lg-6">
					<div class="panel panel-default text-center">		  
						<div class="panel-body">
							<strong>Product Owner</strong>							
						</div>
						<div class="list-group">
						  <a href="#" class="list-group-item">
							<p><div class="img-circle" style="background-color:#feeab9; background-image: url({{ducs}}/usuario/perfil/), url({{static}}/img/usuario_128.png);background-position:center;background-repeat:no-repeat;background-size:auto 128px;height:128px;width:128px;display:inline-block"></div></p>
							<h4 class="list-group-item-heading">Selecionar</h4>							
						  </a>
						</div>	
					</div>
				</div>
				<div class="col-lg-6">
					<div class="panel panel-default text-center">		  
						<div class="panel-body">
							<strong>Scrum Master</strong>							
						</div>
						<div class="list-group">
						  <a href="#" class="list-group-item">
							<p><div class="img-circle" style="background-color:#feeab9; background-image: url({{ducs}}/usuario/perfil/), url({{static}}/img/usuario_128.png);background-position:center;background-repeat:no-repeat;background-size:auto 128px;height:128px;width:128px;display:inline-block"></div></p>
							<h4 class="list-group-item-heading">Selecionar</h4>							
						  </a>
						</div>	
					</div>
				</div>
			</div>
			<div class="row">	
				<div class="col-lg-12">
					<div class="panel panel-default">		  
						<div class="panel-body text-center">
							<strong>Time de Desenvolvimento {#({{ts|length}} integrantes)#}</strong>
						</div>
						<div class="list-group">
						  {% for t in ts %}
						  <a href="/projeto/{{p.dominio}}/membros/integrante/{{t.id_integrante}}" class="list-group-item">
							<h4 class="list-group-item-heading">{{t.nome}}</h4>
							<p class="list-group-item-text">{{t.funcao}}</p>
						  </a>
						  {% endfor %}
						</div>	
					</div>
				</div>				
			</div>
		  </div>
		</div>	
	</div>	
	<div class="col-lg-6" id="busca-convidados">	
		<div>
			<strong>Convidar novo membro</strong>
		</div>
		<form method="GET" action="/projeto/{{p.dominio}}/membros#busca-convidados">
				<div class="row">
					<div class="col-lg-10">
						<div class="form-group">
							<input type="text" id="email" name="email" value="{{email}}" placeholder="Buscar usuário por e-mail..." required class="form-control">			
						</div>
					</div>
					<div class="col-lg-2">
						<button type="submit" class="btn btn-default">Buscar</button>
					</div>
				</div>
			<form>
		
			
			{% if u == 'null' %}
			{% elseif u == false %}
			<div class="alert alert-warning" role="alert"><strong>Nenhum usuário encontrado!</strong></div>
			{% else %}
			<div class="panel panel-default">		  
		  <div class="panel-body">
			<div class="media">
			  <div class="media-left media-middle">
				<span class="media-object img-circle" style="background-color: #feeab9; background-image: url({{ducs}}/usuario/perfil/{{u.imagem}}.{{u.ext_imagem}}), url({{static}}/img/usuario_128.png);background-position:center;background-repeat:no-repeat;background-size:auto 100px;height:100px;width:100px;">				
			  </div>
			  <div class="media-body">
				<h4 class="media-heading">{{u.nome}} {{u.sobrenome}} <small><a href="/perfil/{{u.id_conta_usuario}}" target="_blank">Ver perfil</a></small></h4>
				<p><em>{{u.ocupacao}}</em></p>
				<p><a href="/projeto/{{p.dominio}}/membros/convidar/{{u.id_conta_usuario}}" class="btn btn-success active">Convidar</a></p>
			  </div>
			</div>
			 </div>
		  	
		 
		</div>	
			{% endif %}
		 
		<div>
			<strong>Convidados</strong> <span class="text-muted">({{cs|length}} aguardando resposta)</span>
		</div>
		<div class="list-group">
			{% for c in cs %}			  
			   <div class="list-group-item">
				<h5 class="list-group-item-heading"><strong><a href="/perfil/{{c.id_convidado}}" target="_blank"> {{c.nomec}} {{c.sobrenomec}}</a></strong> <em>{{c.emailc}}</em></h5>				
				<p class="list-group-item-text"><small>Enviado em {{c.ts_realizacao|date("d/m/Y \\à\\s H:i")}} por <a href="/perfil/{{c.id_conta_usuario}}" target="_blank"> {{c.nome}} {{c.sobrenome}}</a></small></p>
				<!--<a href="remover" class="btn btn-sm btn-danger">X</a>-->
			  </div>			  
			{% endfor %}
		</div>
	</div>	
</div>
{% endblock %}