{% extends "inc/base_projeto.html" %}

{% block title %}Projetos{% endblock %}
{% block titleheader %}

<h1 style="display:inline;margin-right:20px">Projetos</h1>
<a href="/projeto/criar" class="btn black"><img src="{{ static }}/img/adicionar_64.png" height="20px" width="20px"> Criar novo</a>
<a href="criar" class="btn black"><img src="{{ static }}/img/pesquisar_64.png" height="20px" width="20px"> Pesquisar outros projetos</a>

{% endblock %}


{% block main %}
<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<h4><strong>Configurações</strong></h4>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-2" style="background-color:#fbfbfb;border-right: 1px solid #eee;">
		<ul class="nav nav-pills nav-stacked">
		  <li role="presentation"><a href="/projeto/{{p.dominio}}/configuracoes">Sobre</a></li>
		  <li role="presentation"><a href="/projeto/{{p.dominio}}/configuracoes/visibilidade">Visibilidade</a></li>
		  <li role="presentation"><a href="/projeto/{{p.dominio}}/configuracoes/desativacao">Desativação</a></li>
		  <li role="presentation"><a href="/projeto/{{p.dominio}}/configuracoes/cancelamento">Cancelamento</a></li>		  
		</ul>
	</div>
	
	<div class="col-lg-10">	
		{% include "inc/page_projeto_d_configuracoes_"~secao~".html" %}
	</div>
	
</div>
{% endblock %}