{% extends "inc/base_simples.html" %}

{% block title %}Recuperação de Senha{% endblock %}
{% block titleheader %}Chaves de Recuperação de Senha{% endblock %}

{% block main %}
	<nav>
		
	</nav>
	<div class="table-responsive">
		<table class="table table-hover table-bordered table-middle">
		  <thead>
			<tr>		  
			  <th>Conta de</th>
			  <th>E-mail</th>
			  <th>Criada em</th>		  
			  <th>ID da Chave</th>		  
			  <th>Estado</td>		  
			  <th>Situação</th>
			</tr>
		  </thead>
		  <tbody>
			{% for r in rs %}
			<tr>		  
			  <td>{{ r.nome }} {{ r.sobrenome }}</td>
			  <td>{{ r.email }}</td>	 
			  <td>{{ r.ts_envio|date("d/m/Y H:i:s")}}</td>		  
			  <td>{{ r.id_cha_recuperacao }}</td>			 
			  <td>{{ r.estado }}</td>		  		  
			  {% if r.estado == '0' %}
				<td class="warning">
					<a href="/saticon/recuperar/senha/{{ r.cha_recuperacao }}" title="{{ r.cha_recuperacao }}" target="_blank" class="btn btn-warning">Recuperar</a>	  
			  {% else %}
				<td class="success">
					{{ r.ts_acao|date("d/m/Y H:i:s") }}
			  {% endif %}
			  </td>		 
			</tr>	
			{% endfor %}
		  </tbody>
		</table>
	</div>
{% endblock %}